html  {
    overflow-y: scroll;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.header {
    background-color: white;
    padding: 10px 0;
    text-align: center;
    border-bottom: 5px solid #007bff;
}
.header img {
    vertical-align: middle;
}
.header h1 {
    display: inline-block;
    font-size: 24px;
    color: #007bff;
    margin-left: 10px;
    vertical-align: middle;
}

.navigation {
    background-color: #2865FF;
    color: white;
    padding: 15px;
    text-align: center;
    position: sticky; 
    top: 0;
    z-index: 100;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* Căn phải cái nav */
.nav li {
    margin-right: 50px;
}

/* Khi rê chuột qua thanh navigator sẽ làm nó chuyển màu để nhận biết */
.nav li a:hover {
    color: black;
}

/* Chữ đường link ở trong nav */
.nav li a {
    color: white;
    text-decoration: none;
    padding: 0 50px;
    font-weight: bold;
    line-height: 30px;
}

/* Căn đoạn văn bản ra giữa trang */
#home {
    width: 50%;
    margin: auto;
}

#student-home{
    width: 50%;
    margin: auto;
}

/* Giãn dòng */
ul.list {
    line-height: 20px;
}

.trangchu {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.trangchu img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.trangchu .text {
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    border: 1px solid #ccc;
    max-width: 600px;
}
.trangchu .text p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.trangchu .text a {
    color: #007bff;
    text-decoration: none;
}

.ketqua {
    text-align: center;
    padding: 20px;
}

table.ketqua {
    line-height: 22px; 
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

table.ketqua th, table.ketqua td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #007bff;
    color: white;
    display: block;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .content .text {
        margin-left: 0;
        margin-top: 20px;
    }
}

.content-section {
    display: none; /* Ẩn các phần mặc định */
}
.content-section.active {
    display: block; /* Hiển thị phần có lớp 'active' */
}
