<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "/app/Views/css/form.css">
        <title>Khảo sát</title>
        <link rel="icon" href="/public/images/Logo.png" type="image/png">
    </head>

    <body>
        <div class="header">
            <img alt="Logo" height="50" src="/public/images/Logo.png" width="50"/>
            <h1> HỆ THỐNG PHÂN TÍCH PHẢN HỒI NGƯỜI HỌC </h1>
        </div>

        <div class = "navigation">
            <ul class = "nav">
                <li><a href="/app/Views/html/studentHomePage.html">Quay lại</a></li>
                <li><a href="/public/index.html">Đăng xuất</a></li>
            </ul>
        </div>

        <div class = "main-content">
            <form id="survey" action="" method="">
                <!-- gắn file .php vào chỗ action trên form -->
                <!-- tên của dữ liệu nhập vào điền chỗ value của input -->
                <h2>Khảo sát môn học</h2>
                <div>
                    <label for="subject">Môn học:</label>
                    <!-- <input type="text" id="subject" name ="subject" placeholder="Nhập tên môn học" required> -->
                </div>

                <div>
                    <label for="teacher">Giáo viên:</label>
                    <!-- <input type="text" id="teacher" name ="teacher" placeholder="Nhập tên giáo viên" required> -->
                </div>
                <h3 style="text-align: center; font-weight: normal;">-------------------------------------------</h3>
                <label for ="q1">Câu hỏi 1: </label><br>
                <div>
                    <label>
                        <input type="radio" name="q1" value="1">1
                    </label>
                    <label>
                        <input type="radio" name="q1" value="2">2
                    </label>
                    <label>
                        <input type="radio" name="q1" value="3">3
                    </label>
                    <label>
                        <input type="radio" name="q1" value="4">4
                    </label>
                    <label>
                        <input type="radio" name="q1" value="5">5
                    </label>
                </div><br>

                <label for ="q2">Câu hỏi 2: </label><br>
                <div>
                    <label>
                        <input type="radio" name="q2" value="1">1
                    </label>
                    <label>
                        <input type="radio" name="q2" value="2">2
                    </label>
                    <label>
                        <input type="radio" name="q2" value="3">3
                    </label>
                    <label>
                        <input type="radio" name="q2" value="4">4
                    </label>
                    <label>
                        <input type="radio" name="q2" value="5">5
                    </label>
                </div><br>

                <label for ="q3">Câu hỏi 2: </label><br>
                <div>
                    <label>
                        <input type="radio" name="q3" value="1">1
                    </label>
                    <label>
                        <input type="radio" name="q3" value="2">2
                    </label>
                    <label>
                        <input type="radio" name="q3" value="3">3
                    </label>
                    <label>
                        <input type="radio" name="q3" value="4">4
                    </label>
                    <label>
                        <input type="radio" name="q3" value="5">5
                    </label>
                </div><br>

                <label for ="q4">Câu hỏi 4: </label><br>
                <div>
                    <label>
                        <input type="radio" name="q4" value="1">1
                    </label>
                    <label>
                        <input type="radio" name="q4" value="2">2
                    </label>
                    <label>
                        <input type="radio" name="q4" value="3">3
                    </label>
                    <label>
                        <input type="radio" name="q4" value="4">4
                    </label>
                    <label>
                        <input type="radio" name="q4" value="5">5
                    </label>
                </div><br>

                <label for ="q5">Câu hỏi 5: </label><br>
                <div>
                    <label>
                        <input type="radio" name="q5" value="1">1
                    </label>
                    <label>
                        <input type="radio" name="q5" value="2">2
                    </label>
                    <label>
                        <input type="radio" name="q5" value="3">3
                    </label>
                    <label>
                        <input type="radio" name="q5" value="4">4
                    </label>
                    <label>
                        <input type="radio" name="q5" value="5">5
                    </label>
                </div><br>

                <label for ="q6">Câu hỏi 6: </label><br>
                <div>
                    <label>
                        <input type="radio" name="q6" value="1">1
                    </label>
                    <label>
                        <input type="radio" name="q6" value="2">2
                    </label>
                    <label>
                        <input type="radio" name="q6" value="3">3
                    </label>
                    <label>
                        <input type="radio" name="q6" value="4">4
                    </label>
                    <label>
                        <input type="radio" name="q6" value="5">5
                    </label>
                </div><br>

                <button type="summit" action="">Gửi đánh giá</button>
            </form>
        </div>

    </body>

    <footer>
        <p>
        Liên hệ <br>
        Hệ thống phân tích phản hồi người học
        </p>
    </footer>
</html>