<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" href = "../../../app/Views/css/teacherHomePage.css">
  <title>Teacher Homepage</title>
  <link rel="icon" href="../../../public/images/Logo.png" type="image/png">
  <!-- <link rel="stylesheet" href="../../Models/signin.php"> -->
</head>

    <body>
        <div class="header">
            <img alt="Logo" height="50" src="../../../public/images/Logo.png" width="50"/>
            <h1> HỆ THỐNG PHÂN TÍCH PHẢN HỒI NGƯỜI HỌC </h1>
        </div>
        
          <div class="navigation">
            <ul class="nav">
              <li><a href="#"onclick="showSection('home')">Trang chủ</a></li>
              <!-- <li><a href="#"onclick="showSection('calendar')">Lịch khảo sát</a></li> -->
              <!-- <li><a href="../../Controllers/analyze.php">Kết quả khảo sát</a></li> -->
              <li><a href="#" onclick="showSection('result')">Kết quả khảo sát</a></li>
            
              <!-- dòng phía trên hiển thị tên và mssv dựa vào thông tin đăng nhập -->
              <li><a href="../../../index.html">Đăng xuất</a></li>
            </ul>
          </div>

          <div class="main-content">
    
            <!--Chỗ này viết html cho phần "Trang chủ"-->
            <div id="home" class="content-section active trangchu">
            <!-- <img alt="Graduation ceremony with students and faculty members holding certificates and flowers" height="20" src="/public/images/Logo.png" width="80"/> -->
              <div class="text">
                <p> <strong>Đây là trang giảng viên,</strong></p>
                <p> Nơi giảng viên sẽ xem phân tích từ kết quả khảo sát đánh giá các học phần mà giảng viên đó giảng dạy, thông qua mục <strong>"Kết quả khảo sát"</strong></p>
              
                <ul class = "list">
                  <li> <strong>Về mục đích:</strong> đánh giá hiệu quả giảng dạy; cải thiện phương pháp giảng dạy; tăng sự tương tác giữa giảng viên và người học. </li>
                  <li> <strong>Về hệ thống:</strong> kết quả phân tích này được hiển thị cho giảng viên, nó dựa trên kết quả khảo sát từ các sinh viên và đưa ra nhận xét phù hợp. </li>
                  <li> <strong>Về hoạt động:</strong> kết quả này được hiển thị một lần mỗi năm học. Khuyến khích các giảng viên vào xem phân tích. </li>
                </ul>
              
                <p><strong> CÔNG NGHỆ PHẦN MỀM - NHÓM HHP </strong></p>
              </div>
            </div>

            <!-- kết quả khảo sát -->
            <div id = "result" class = "content-section ketqua">
              
            </div>
    </body>

    <footer>
      <p>
        Liên hệ <br>
        <table id="contact">
          <tr>
            <th>Nguyễn Văn Huy</th>
            <th>Lê Quang Hoàng</th>
            <th>Trần Đức Phát</th>
          </tr>
          <tr>
            <td>21KTMT</td>
            <td>21KTMT</td>
            <td>21KTMT</td>
          </tr>
          <tr>
            <td>106210218@sv1.dut.udn.vn</td>
            <td>106210214@sv1.dut.udn.vn</td>
            <td>106210225@sv1.dut.udn.vn</td>
          </tr>
        </table>
      </p>
    </footer>

    <script src="../../../app/Views/js/script.js"></script>
</html>